<h1>listes des articles</h1>
<div class="container">
    <button class="btn btn-success" type="button" routerLink="/insertart">ajouter</button>

    <table class="table table-striped">
        <thead>
<tr>
<th>reference</th>
<th>desigation</th>
<th>qte</th>
<th>prix</th>
<th>Image</th>
<th>modifier</th>
<th>supprimer</th>
</tr>
        </thead>
   <tbody>
<tr *ngFor="let a of articles">
   <td><img src={{a.imageart}} width="60" height="60"/></td>
   <td>{{a.reference}}</td>
   <td>{{a.designation}}</td>
  <td>{{a.qtestock}}</td>
 <td>{{a.prix}}</td>

   <td><button type="button" class="btn btn-primary" 
      [routerLink]="['/editarticle/',a._id]">modifer</button>
   </td>
   <td><button type="button" class="btn btn-danger" (click)="supparticle(a._id)">suprimer</button>
   </td>
</tr>

   </tbody>
    </table>
